<header class="d-flex flex-column align-items-center">
  <a class="text-lg-center"> {{title | titlecase}} </a>
  <h1 class="text-lg-center"> {{subtitle | titlecase}} </h1>
</header>
<main class="d-flex justify-content-center">
  <section class="d-flex flex-column m-5 border border-dark rounded">
    <div class="d-flex justify-content-center btn-group">
      <app-button *ngFor="let button of buttons; let i = index" [button]="buttons[i]"></app-button>
    </div>
    <ul class="d-flex p-3 flex-wrap">
      <li class="d-flex justify-content-around w-100">
        <div class="p-1">Name</div>
        <div class="p-1">Acount</div>
      </li>
      <app-list-item></app-list-item>
    </ul>
  </section>
</main>