<header class="d-flex flex-column align-items-center">
  <a class="text-lg-center"> {{title | titlecase}} </a>
  <h1 class="text-lg-center"> {{subtitle | titlecase}} </h1>
</header>
<main class="d-flex justify-content-center">
  <section class="d-flex flex-column m-5 border border-dark rounded">
    <div class="d-flex justify-content-center btn-group">
      <app-button>Income</app-button>
      <app-button>Outcome</app-button>
      <app-button>Loans</app-button>
      <app-button>Investments</app-button>
    </div>
    <ul class="d-flex p-3 flex-wrap">
      <li class="d-flex justify-content-around w-100">
        <div class="p-1">Name</div>
        <div class="p-1">Acount</div>
      </li>      
      <li class="d-flex justify-content-around w-100 border-top">
        <div class="p-1">Text</div>
        <div class="p-1">Text</div>
      </li>
    </ul>
  </section>
</main>