<main class="d-flex flex-column justify-content-center mx-auto" style="max-width: 330px">
  <app-navigator [buttons]="buttons"></app-navigator>
  <app-table [data]="data"></app-table>
</main>
<footer class="container text-center">
  <a class="row justify-content-center" href="https://docs.google.com/document/d/e/2PACX-1vQYdtpeUBzZyWYpAgrbh_nR7vbPVn3uYCsGqp5RXh-57mh59TRR3nUb07_1wiZcFx8GkQS_BO2dnkAN/pub?urp=gmail_link">{{title}} </a>
  <a class="row justify-content-center" href="https://github.com/Konstantinksh">{{name | titlecase}} </a>
</footer>